@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* {{{ Auto-hide the URL-bar and bookmarks bar, show on hover or focus
 * Contributor(s): Alex Vallat
 */

:root[uidensity=compact] #navigator-toolbox {
  --nav-bar-height: 33px;
  --tab-min-height: 29px;
}

:root[uidensity=compact][extradragspace]:not([sizemode="normal"]) #navigator-toolbox {
  --nav-bar-height: 33px;
  --tab-min-height: 21px;
}

:root:not([uidensity]) #navigator-toolbox {
  --nav-bar-height: 39px;
  --tab-min-height: 33px;
}

:root:not([uidensity])[extradragspace]:not([sizemode="normal"]) #navigator-toolbox {
  --nav-bar-height: 39px;
  --tab-min-height: 25px;
}

:root[uidensity=touch] #navigator-toolbox {
  --nav-bar-height: 41px;
  --tab-min-height: 41px;
}

:root[uidensity=touch][extradragspace]:not([sizemode="normal"]) #navigator-toolbox {
  --nav-bar-height: 41px;
  --tab-min-height: 33px;
}

#navigator-toolbox {
  --tabbar-height: calc(var(--tab-min-height) + var(--space-above-tabbar));
  --trigger-area-height: 1px;
}

:root[chromehidden~="toolbar"] #navigator-toolbox {
  --tabbar-height: 0.1px;
}

#toolbar-menubar {
  margin-top: 0px !important; /* This is usually 0, but under Win7 can be given an extra 1px when not maximized */
}

/* Undo add of 4px extra margin on top of the tabs toolbar on Windows 7. */
/* Note: @media -moz-os-version does not work in userChrome.css (https://bugzilla.mozilla.org/show_bug.cgi?id=1418963) */
:root[sizemode="normal"][chromehidden~="menubar"] #TabsToolbar,
:root[sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] + #TabsToolbar {
  padding-top: var(--space-above-tabbar) !important;
}

#nav-bar, #PersonalToolbar {
	/* Otherwise spacers will not count as hover-able areas */
    -moz-window-dragging: default;
}

:root:not([customizing]) #nav-bar
{
  overflow-y: hidden;
  max-height:0;
  min-height:0 !important;
  padding-top:0 !important;
  padding-bottom:0 !important;
  opacity: 0;
}

:root:not([customizing]) :hover > #nav-bar,
:root:not([customizing]) #nav-bar:focus-within {
  max-height: var(--nav-bar-height);
  opacity: 1;
}

:root:not([customizing]) #navigator-toolbox {
  max-height: calc(var(--tabbar-height) + var(--trigger-area-height));
  min-height: var(--tabbar-height);
  margin-bottom: calc(-1 * var(--trigger-area-height));
  transition: opacity 0.15s ease-in, max-height 0.15s linear;
}

:root:not([customizing]) #navigator-toolbox:hover,
:root:not([customizing]) #navigator-toolbox:focus-within {
  max-height: calc(var(--tabbar-height) + var(--nav-bar-height));
  margin-bottom: calc(0px - var(--nav-bar-height));
}

/* If the bookmarks bar is turned on, auto-hide that too */
:root:not([customizing]) #PersonalToolbar {
  max-height: 0 !important;
  min-height: 0.1px !important;
  opacity: 0;
}

:root:not([customizing]) :hover > #PersonalToolbar,
:root:not([customizing]) #navigator-toolbox:focus-within #PersonalToolbar {
  max-height: 4em !important;
  opacity: 1;
  transition: opacity 0.15s ease-in !important;
}

/* {{{ Lightweight Theme Support */
:root:-moz-lwtheme #nav-bar, 
:root:-moz-lwtheme #PersonalToolbar {
  background-color: var(--lwt-accent-color) !important;
  background-image: var(--lwt-header-image), var(--lwt-additional-images) !important;
  background-position: var(--lwt-background-alignment) !important;
  background-repeat: var(--lwt-background-tiling) !important;
}

#main-window[sizemode="normal"]:-moz-lwtheme #nav-bar {
    background-position-y: calc(-2px - var(--tabbar-height)) !important;
}
#main-window[sizemode="normal"]:-moz-lwtheme #PersonalToolbar {
    background-position-y: calc(-2px - var(--tabbar-height) - var(--nav-bar-height)) !important;
}

#main-window[sizemode="maximized"]:-moz-lwtheme #nav-bar {
    background-position-y: calc(-8px - var(--tabbar-height)) !important;
}
#main-window[sizemode="maximized"]:-moz-lwtheme #PersonalToolbar {
    background-position-y: calc(-8px - var(--tabbar-height) - var(--nav-bar-height)) !important;
}
/* }}} */
/* }}} */
/*{{{ MENUBAR */
#toolbar-menubar {
	margin:-1px;
	padding: 0px;
}
/* }}} */
/* {{{ TABS */
/* {{{ Remove tab toolbar */
/*
#TabsToolbar {
	visibility: collapse;
}
/* }}} */
.tabbrowser-tab .tab-close-button {
	display: none;
}
.tabbrowser-tab:hover .tab-close-button {
	display: -moz-box !important;
}
.tab-content {
	padding: 0 6px !important;
}
.tab-line {
	height: 4px;
}
.tab-line[selected="true"] {
	background-color: #93A1A1
}
#TabsToolbar .toolbarbutton-1 {
	border-radius: 0 !important;
}
/* }}} */
/*** NAVIGATION BAR ***/
/*
#nav-bar .toolbarbutton-1 > *,
#nav-bar #PanelUI-menu-button > * {
	padding: 2px 4px !important;
	margin: 2px 0px 0px !important;
}
#urlbar, .searchbar-textbox {
	margin: 2px 0px 0px !important;
	/*min-height: 24px !important;
}
#PanelUI-menu-button {
	padding: 2px !important;
}
*/

/* {{{ back/forward buttons */
#back-button[disabled],
#forward-button[disabled] {
	visibility: collapse !important;
	transition: visibility 150ms ease-out !important;
}

#back-button:not[disabled],
#forward-button:not[disabled] {
	visibility: visible !important;
	transition: visibility 150ms ease-out !important;
}
/* }}} */
/*** MICROPHONE/WEBCAM INDICATOR ***/
#webrtcIndicator {
}

/* {{{ PAGE ON LOAD */
@-moz-document url(chrome://browser/content/browser.xul)
{
	#main-window,
	browser[type="content-primary"],
	browser[type="content"],
	tabbrowser#content, #content,
	browser[type="content"] > html {
		background: #323234 !important;
	}
}
/* }}} */
/* {{{ TAB CENTER REDUX */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#main-window {
	--toolbar-bgcolor: #31363b !important;
}
#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] {
	min-width: 32px;
	max-width: 32px;
	transition: all 0.2s ease;
	z-index: 20;
	overflow: hidden;
	border-right: 1px solid #0c0c0d;
}
#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] #sidebar {
	border-right: 1px solid #0c0c0d;
	position: absolute;
	background-color: inherit !important;
}
#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"]:hover {
	min-width: 260px !important;
	max-width: 260px !important;
	margin-right: -228px;
}
#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] #sidebar-header,
#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] ~ #sidebar-splitter {
	display: none;
}
#main-window[inDOMFullscreen] #sidebar-box{
	transition: none;
}
/* }}} */
/* vim:foldmethod=marker:
 */
