/*
input[type="text"], textarea {
	color: initial !important;
	background: initial !important;
}
*/
/*** NEW TAB PAGE ***/
@-moz-document url(about:home),
               url(about:blank) {
	body{
		background-color: #323234 !important;
		color: #D1D1D1 !important;
	}
	#newtab-customize-overlay {
		background: #323234 !important;
	}
	.card,
	.prefs-pane .sidebar {
		background-color: #2c2c2c !important; /*202020*/
		color: #C4C4C4 !important;
	}
	.prefs-pane .actions {
		background-color: #2c2c2c !important;
		border-left: 1px solid #D7D7DB;
	}
	.prefs-pane .prefs-modal-inner-wrapper .options {
		background-color: #2c2c2c !important; /*202020*/
		color: #C4C4C4 !important;
	}
	.prefs-pane-button button {
		border: 1px solid #525A6D !important;
		fill: #EEE !important;
	}
	.prefs-pane-button button:hover {
		background-color: #444444 !important;
		border: 1px solid #525A6D !important;
	}
	.prefs-pane-button button:active {
		background-color: #323234 !important;
		border: 1px solid #525A6D !important;
	}
	.search-wrapper input {
		background: #474749 !important;
		color: #FFF !important;
	}
	.contentSearchHeader,
	.contentSearchSuggestionTable,
	.contentSearchSettingButton,
	.contentSearchHeaderRow	 {
		background: #2c2c2c !important;
		color: #FFF !important;
		-moz-appearance: none !important;
		border-color: transparent !important;
	}
	.search-wrapper .search-label,
	.search-wrapper .search-button {
		fill: #EEE !important; 
	}
	.search-wrapper .search-button:focus,
	.search-wrapper .search-button:hover {
		background-color: #444444 !important;
	}
	.search-wrapper .search-button:active {
		background-color: #323234 !important;
	}
	.section-top-bar .info-option {
		background: #2c2c2c !important;
		color: #FFF !important;
		-moz-appearance: none !important;
		border-color: transparent !important;
	}
	.collapsible-section .section-disclaimer button {
		background: inherit !important;
		color: inherit !important;
	}
	.section-disclaimer-text {
		color: #C4C4C4 !important;
	}
	.context-menu {
		background: #2c2c2c !important;
		color: #C4C4C4 !important;
		-moz-appearance: none !important;
		border-color: transparent !important;
	}
	.separator {
		border: 1px solid #525A6D !important;
	}
	.icon {
		fill: #C4C4C4 !important;
	}
	#snippets-container {
		display: none !important;
	}
	.top-sites-list .top-site-outer .tile,
	.section-list .card-outer .card:not:hover
	{
		transition: all 0.3s ease;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 4px 0 rgba(12, 12, 13, 0.5) !important;
	}
	.top-sites-list .top-site-outer .top-site-icon {
		background-color: rgba(30, 30, 30, 0.3) !important;
	}
}

/*
@-moz-document url("about:newtab") {
	* {
		border-color: #444 !important;
	}
	.prefs-pane .actions,
	.context-menu, .options,
	body {
		background-color: #323234!important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		color: #dedede !important;
	}
	.info-option, .prefs-pane, .sidebar,
	.context-menu-button,
	.context-menu > ul > li > a:hover:hover,
	.context-menu > ul > li > a:hover:focus,
	.context-menu > ul > li > a:focus:hover,
	.context-menu > ul > li > a:focus:focus,
	.card-outer, .card-preview-image-outer {
		background-color: #222224 !important;
		background: #222224 !important;
		color: #dedede !important;
	}
	.icon {
		fill: rgba(255,255,253,0.8) !important;
	}
u}

/*** VIMIUM TEXTAREA ***/
@-moz-document url-prefix("moz-extension://70") {
	input[type="text"], textarea {
		color: #edd !important;
		background: #233 !important;
		font: monospace !important;
	}
}
